<!-- inja az style haye inline estefade mikonim ta karbar natoone az teknike 
  display:none;
  estefade kone :)
 -->
<style type="text/css">
  @font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.eot?#iefix')
        format('embedded-opentype'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.woff2')
        format('woff2'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.woff') format('woff'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.ttf')
        format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.eot?#iefix')
        format('embedded-opentype'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.woff2')
        format('woff2'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.woff')
        format('woff'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.ttf')
        format('truetype');
    font-weight: bold;
  }

  @font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.eot?#iefix')
        format('embedded-opentype'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.woff2')
        format('woff2'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.woff')
        format('woff'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.ttf')
        format('truetype');
    font-weight: 300;
  }

  @font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.eot?#iefix')
        format('embedded-opentype'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.woff2')
        format('woff2'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.woff')
        format('woff'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.ttf')
        format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.eot?#iefix')
        format('embedded-opentype'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.woff2')
        format('woff2'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.woff')
        format('woff'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.ttf')
        format('truetype');
    font-weight: 100;
  }

  @font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.eot?#iefix')
        format('embedded-opentype'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.woff2')
        format('woff2'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.woff')
        format('woff'),
      url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.ttf')
        format('truetype');
    font-weight: 900;
  }
</style>
<style>
  .link {
    color: #3f51b5;
    text-decoration: none;
  }
  .alert {
    display: flex;
    width: 80%;
    padding: 20px;
    background-color: rgba(252, 52, 91, 0.1);
    color: rgba(252, 52, 91, 1);
    border-radius: 16px;
    margin: 0 auto;
    font-family: Vazir;
  }
  .yas-modal__content {
    width: 60vw !important;
    min-width: 320px !important;
    height: 60vh !important;
    background: #fff !important;
    border-radius: 20px !important;

    direction: rtl !important;
    padding: 10px 30px !important;

    box-shadow: 0 20px 55px rgba(0, 0, 0, 0.15) !important;

    position: relative !important;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
</style>
<div
  style="
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    background-image: none !important;
    background-repeat: repeat !important;
    background-position: top left !important;
    background-attachment: scroll !important;
    z-index: 2147483647 !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
  "
>
  <div
    style="
      width: 60vw !important;
      min-width: 320px !important;
      height: 60vh !important;
      background-color: #fff !important;
      background-image: none !important;
      background-repeat: repeat !important;
      background-position: top left !important;
      background-attachment: scroll !important;
      border-radius: 20px !important;
      direction: rtl !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-right: 30px !important;
      padding-left: 30px !important;
      box-shadow: 0 20px 55px rgba(0, 0, 0, 0.15) !important;
      position: relative !important;
      display: flex;
      flex-direction: column;
    "
  >
    <h1
      style="
        font-family: 'Vazir' !important;
        color: #263238 !important;
        text-align: center !important;
        line-height: 200% !important;
      "
    >
      هشدار
    </h1>
    <p
      style="
        font-family: 'vazir' !important;
        line-height: 200% !important;
        color: #455a64 !important;
        direction: rtl;
      "
    >
      محافظ فیشینگ در این صفحه اطلاعاتی را پیدا کرده است که ممکن است باعث هک شدن
      شما شود. لطفا در صورت درخواست شماره کارت، رمز عبور و ... فورا این صفحه را
      ترک و اطلاعات این دامنه را به آدرس
      <a
        href="mailto:#{contactEmail}"
        style="color: #3f51b5; text-decoration: none"
        >{{ contactEmail }}</a
      >
      ارسال فرمایید تا با همکاری مراجع قضایی با این شخص برخورد شود
      <br />

      با تشکر هاست رایگان {{ companyName }}
    </p>

    <div
      style="
        margin-top: auto !important;
        display: flex !important;
        position: absolute !important;
        bottom: 20px !important;
        left: 30px !important;
      "
    >
      <a
        href="#"
        onclick="document.querySelector('.yas-modal').style.display = 'none'"
        style="
          font-family: 'Vazir' !important;
          font-size: 16px !important;
          display: inherit !important;
          text-align: center !important;
          margin-top: 10px !important;
          margin-bottom: 10px !important;
          margin-right: auto !important;
          margin-left: 20px !important;
          color: #757575 !important;
          text-decoration: none;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 18px;
          padding-left: 18px;
        "
        >به هر حال ادامه می دهم</a
      >
      <a
        href="#"
        onclick="window.history.back()"
        style="
          font-family: 'Vazir' !important;
          font-size: 16px !important;
          display: inherit !important;
          text-align: center !important;
          color: #3f51b5;
          margin-top: 10px !important;
          margin-bottom: 10px !important;
          margin-right: auto !important;
          margin-left: auto !important;
          background-color: rgba(63, 81, 181, 0.1);
          border-radius: 8px;
          text-decoration: none;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 18px;
          padding-left: 18px;
        "
        >بازگشت</a
      >
    </div>
  </div>
</div>
